p {
    margin-top: 200px;
    background-color: #009a42;
    width: 60%;
    height: 300px;
}
h1{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 7em;
    margin: 0;
    font-weight: 700;
}