@import "../../../../scss/colors";

@mixin size($width: null, $height: $width) {
  width: $width;
  height: $height;
}

%reset {
  margin: 0;
  padding: 0;
}

html,
body {
  @include size($width: 100%);
  @extend %reset;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

body {
  background: linear-gradient(
                  to bottom,
                  #639EDB,
                  #0668CF
  ) no-repeat;
  font-family: 'Arimo', sans-serif;
  background-size: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: center;
  color: #ffffff;
  font-size: 13px;
}

a {
  &:hover,
  &:visited,
  &:hover,
  &:link {
    color: rgba(255, 255, 255, 0.6);
  }
}

.register {
  margin: 0 auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  width: 385px;
  height: 70px;
  position: relative;
  input {
    width: 100%;
    height: 70px;
    border: 0;
    padding: 10px;
    padding: 20px 0 0 16px;
    font-size: 0;
    background: $black;
    transition: background .3s ease;
    color: #ffffff;

    &:focus {
      background: $black;
      font-size: 23px;

      &::selection {
        background: rgba(188, 232, 255, 0.5);
      }
    }
    &.active {
      background: $black;
      font-size: 23px;
    }
  }
  input,
  button {
    position: absolute;
    height: 70px;
  }
  button {
    background: rgba(0, 0, 0, 0.3);
    right: 0;
    border: 0;
    width: 115px;
    font-size: 22px;
    cursor: pointer;
    transition:
            width .3s ease,
            background .3s ease,
            opacity .3s ease;
    opacity: 0;
    color: $green;
    text-transform: uppercae;
    pointer-events: none;
    &.active {
      color: #ffffff;
      background: $green;
      opacity: 1;
      pointer-events: auto;
      &:hover {
        background: $green-dark;
      }
    }
    &.full {
      width: 100%;
    }
  }
  input:focus + label {
    font-size: 19px;
    transform: translate(16px, 11px);
    color: rgba(255, 255, 255, 0.7);
  }
  label {
    position: absolute;
    color: rgba(255, 255, 255, 1);
    transform: translate(16px, 20px);
    transition:
            transform .3s ease,
            font-size .3s ease,
            color .3s .1s ease;
    font-size: 28px;
    &.active {
      font-size: 19px;
      transform: translate(16px, 11px);
      color: rgba(255, 255, 255, 0.7);
    }
  }
  input:focus + label + button {
    opacity: 1;
  }
}