@import "../../../../scss/colors";

$fieldHeight: 63px;
$fontSize: 20px;
$fontSizeSmall: 14px;

@mixin size($width: null, $height: $width) {
  width: $width;
  height: $height;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

.register {
  margin: 0 auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  width: 400px;
  height: $fieldHeight;
  position: relative;
  input {
    width: 100%;
    height: $fieldHeight;
    border: 0;
    padding: 10px;
    padding: 20px 0 0 16px;
    font-size: 0;
    background: $black;
    transition: background .3s ease;
    color: #ffffff;

    &:focus {
      background: $black;
      font-size: $fontSize;

      &::selection {
        background: rgba(188, 232, 255, 0.5);
      }
    }
    &.active {
      background: $black;
      font-size: $fontSize;
    }
  }
  input,
  button {
    position: absolute;
    height: $fieldHeight;
  }
  button {
    background: rgba(0, 0, 0, 0.3);
    right: 0;
    border: 0;
    width: 115px;
    font-size: $fontSize;
    cursor: pointer;
    transition:
            width .3s ease,
            background .3s ease,
            opacity .3s ease;
    opacity: 0;
    color: $green;
    text-transform: uppercae;
    pointer-events: none;
    &.active {
      color: #ffffff;
      background: $green;
      opacity: 1;
      pointer-events: auto;
      &:hover {
        background: $green-dark;
      }
    }
    &.full {
      width: 100%;
    }
  }
  input:focus + label {
    font-size: $fontSizeSmall;
    transform: translate(16px, 11px);
    color: rgba(255, 255, 255, 0.7);
  }
  label {
    position: absolute;
    color: rgba(255, 255, 255, 1);
    transform: translate(16px, 20px);
    transition:
            transform .3s ease,
            font-size .3s ease,
            color .3s .1s ease;
    font-size: $fontSize;
    &.active {
      font-size: $fontSizeSmall;
      transform: translate(16px, 11px);
      color: rgba(255, 255, 255, 0.7);
    }
  }
  input:focus + label + button {
    opacity: 1;
  }
}