<div class="container">
  <section class="first green-bg">
    <h3>Contact us</h3>
    <ul class="info">
      <li class=info__item>
        <i class="icon-globe"></i>
        <span>13017 Wisteria Drive, Suite 342, Germantown MD 20874</span>
      </li>
      <li class=info__item>
          <i class="icon-envelope"></i>
          <span>info@kitchology.com</span>
        </li>
        <li class=info__item>
            <i class="icon-phone"></i>
            <span>+387498231200</span>
          </li>
    </ul>

  </section>
  <section class="second white-bg">
    <h3>Get in Touch</h3>
    <form>

      
    </form>

  </section>
</div>