@import './colors.scss';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  color: white;
}

html {
  height: 100%;
}

div {
  &:focus {
    outline: none;
  }
}

hr {
  padding: 0;
  margin: 0;
  border: none;
  height: 1px;
  width: 100%;
  background: grey;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.hidden {
  display: none
}

.flex {
  display: flex;
  &_stretch {
    align-items: stretch;
  }
  &_col {
    flex-direction: column;
  }
  &_align-items-center {
    align-items: center;
  }
  &_align-items-start {
    align-items: flex-start;
  }
  &_justify-content-space-between {
    justify-content: space-between;
  }
}

.full-height {
  height: 100vh;
  overflow: hidden;
}

.align-items {
  &__center {
    align-items: center;
  }
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

.green-bg {
  background-color: $green;
}

.black-bg {
  background-color: $black;
}

.white-bg {
  background-color: white;
}

.shadow {
  -webkit-box-shadow: inset hoff voff blur #000;
  -moz-box-shadow: inset hoff voff blur #000;
  box-shadow: inset hoff voff blur #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}